<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rohit2_Tate2::userstory52" title="userstory52" module="Rohit2_Tate2" sortOrder="20"  resource="Rohit2_Tate2::userstory52" action="userstory52/access"/>
    </menu>

</config>